// Color Variables

$color-primary-text: #777;
$color-primary-green: #58e1c1;
$color-white: #fff;
$color-light-blue: #51ddfc;
$color-red: #e4757a;


// Media Query Breakpoint

$brk-med: '(min-width: 768px)';